In [1]:
import sys
import pandas as pd 
import numpy as np

In [4]:
coexpressions = pd.read_csv("E-MTAB-2770-coexpressions.tsv", sep="\t")

In [5]:
coexpressions.head()

,Unnamed: 0,ENSG00000000419,ENSG00000000457,ENSG00000000460,ENSG00000001036,ENSG00000001084,ENSG00000001167,ENSG00000001497,ENSG00000001629,ENSG00000001631,...,ENSG00000280325,ENSG00000280347,ENSG00000280385,ENSG00000280789,ENSG00000280798,ENSG00000281183,ENSG00000281392,ENSG00000281398,ENSG00000281490,ENSG00000281649
0,ENSG00000000419,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ENSG00000000457,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ENSG00000000460,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ENSG00000001036,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ENSG00000001084,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
print ("Number of genes in coexpression matrix: {}".format(len(coexpressions)))

Number of genes in coexpression matrix: 8800

In [8]:
data = pd.read_csv("E-MTAB-2770-fpkms.tsv", sep="\t")

ParserError: Error tokenizing data. C error: Expected 936 fields in line 26457, saw 1191

In [ ]:
data.head()